@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* logo color */
	--yellow: #ffd42a;
	--gray: #aa9954;

	--green: #e6fcb9;
	--white: #fafcfe;
	--black: #343536;
	--headerHeight: 60px;
	--footerHeight: 40px;
}
/* トップページの画面調整 */
main {
	width: 100vw;
	height: calc(100vh - var(--footerHeight));
}
header {
	width: 100vw;
	height: var(--headerHeight);
}
footer {
	width: 100vw;
	height: var(--footerHeight);
}
body {
	background-color: var(--white);
	color: var(--black);
	font-family: 'DotGothic16';
}
@font-face {
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	font-family: 'Kiwi Maru';
	src: url('/fonts/Kiwi_Maru/KiwiMaru-Regular.ttf') format('truetype');
}
@font-face {
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	font-family: 'DotGothic16';
	src: url('/fonts/DotGothic16/DotGothic16-Regular.ttf') format('truetype');
}
